# Xcode
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcuserstate
.build/
build/
DerivedData/
xcuserdata/

# macOS
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
Network Trash Folder
Temporary Items

# Swift package files
.swiftpm/
*.xcodeproj/xcuserdata/
*.xcuserdata/
*.xcworkspace/xcuserdata/
**/UserInterfaceState.xcuserstate
Packages/

# Local development
.cursor/rules/
.cursorindexingignore
.DS_Store
.superpowers/
.specstory/
*.tmp
BuildNumber.xcconfig
buildServer.json
releases/
scripts/
Secrets.swift
